<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Weightlifting Management System</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="static/css/normalize.css" th:href="@{/css/normalize.css}" />
    <link rel="stylesheet" href="static/css/main.css" th:href="@{/css/main.css/}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/custom.css}" />
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/bootstrap-datetimepicker.min.css}" />
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/datepicker.css}" />
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Weightlifting Management</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/competition/new">New Competition</a></li>
          <li><a th:href="@{/club/new-lifter}">Register lifter</a></li>
          <li><a href="#">View past results</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div layout:fragment="content"></div>
    </div>

    <script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/js/datepicker.js}"></script>
    <script th:src="@{/js/app.js}"></script>
  </body>
</html>
