*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Misc files
*.swp
.classpath
.DS_Store
.gradle

# IntelliJ Project files
.idea/
P7-Project.iml
P8-Project.iml
*.ipr
_mac/
keymaps/
inspection/
/*.xml # All xml files in root
/bin/
/build/
.settings/
.project
