<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div th:fragment="competing-groups">
    <table class="table">
        <thead>
        <tr>
            <th colspan="8"><h4 class="text-uppercase" th:text="'Group ' + ${group.id}"></h4></th>
        </tr>
        <tr>
            <th rowspan="2">No.</th>
            <th rowspan="2">Name</th>
            <th rowspan="2">Birthday</th>
            <th rowspan="2">Sex</th>
            <th rowspan="2">Club</th>
            <th rowspan="2">Body weight</th>
            <th>Snatch</th>
            <th>Clean &amp; Jerk</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${group.getParticipants()}">
            <td th:text="${p.startNumber}"></td>
            <td th:text="${p.fullName}"></td>
            <td th:text="${p.dateOfBirthString}"></td>
            <td th:text="${p.genderInitial}"></td>
            <td th:text="${p.clubName}"></td>
            <td th:text="${p.bodyWeight}"></td>
            <td th:text="${p.startingSnatchWeight}"></td>
            <td th:text="${p.startingCleanAndJerkWeight}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>