<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Lift Register Form</title>
</head>
<body>
<div th:fragment="register-lift">
    <h3>Register Lift</h3>
    <p th:text="'Lift Weight: ' + ${participant.currentWeight} + ' kg'"/>

    <form action="/participant/register-lift/" method="post" >
        <div class="form-group row">
            <input type="hidden" th:value="${participant.id}" name="participantID"/>
            <div class="col-xs-4">
                <input class="form-control btn btn-success" type="submit" value="PASS" name="action"/>
            </div>
            <div class="col-xs-4">
                <input class="form-control btn btn-danger" type="submit" value="FAIL" name="action"/>
            </div>
            <div class="col-xs-4">
                <input class="form-control btn btn-default" type="submit" value="ABSTAIN" name="action"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>